
.icon-mail:before { content: '\e800'; } /* '' */
.icon-doc:before { content: '\e801'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */